* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("background.png") no-repeat center center;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.logo-dour {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 130px;
}

.logo-techup {
  width: 70px;
  margin-bottom: 20px;
  position: absolute;
  /* top: 30px;
  right: 140px; */
  top: 30px;
  left: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}
