* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", "Arial", sans-serif;
  background: linear-gradient(
    to bottom,
    #6f9ce8,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #CBB3F9
  );
  background-size: cover;
  color: #333;
  direction: rtl;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding-top: 150px;
}

#greeting {
  font-size: 24px;
  color: black;
  margin-bottom: 20px; /* Space between greeting and container */
  text-align: center;
}

.container {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 900px;
  margin: 20px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns of equal width */
  gap: 10px; /* Adjust space between photos as needed */
  margin-top: 20px;
  justify-items: center;
}

.photo-grid img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth combined transition */
}

.photo-grid img:hover {
  transform: scale(1.1) rotate(3deg) translateY(-10px); /* Scale up, rotate slightly, and lift */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}



.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Optional: adjust this to add space above the button */
}

.submit-btn {
  background-color: #6677e4;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: bold;
  font-family: "Cairo", "Arial", sans-serif;
  text-align: center;
  display: block;
  margin: 20px auto;
}

.logo-dour {
  position: absolute;
  top: 20px;
  right: 0;
  width: 130px;
}

.logo-techup {
  width: 70px;
  margin-bottom: 20px;
  position: absolute;
  top: 30px;
  left: 20px;
}
