/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", "Arial", sans-serif;
  background: linear-gradient(
    to bottom,
    #6f9ce8,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #cbb3f9
  );
  background-size: cover;
  color: #333;
  direction: rtl;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding-top: 150px;
}

.container {
  padding: 20px;
  width: 80%;
  max-width: 900px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3, h4 {
  font-family: "Cairo", sans-serif;
  color: #333;
}

.logo-dour {
  position: absolute;
  top: 20px;
  right: 0;
  width: 130px;
}

.logo-techup {
  width: 70px;
  margin-bottom: 20px;
  position: absolute;
  top: 30px;
  left: 20px;
}

.charcter_res {
  width: 80vw;
  max-width: 450px;
  min-width: 300px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  background-color: #6677e4;
  color: white;
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Cairo", "Arial", sans-serif;
  margin-top: 20px;
}

a {
  color: #6677e4;
  text-decoration: none;
  margin-top: 10px;
  font-size: 14px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.linktree-icon img {
  width: 40px; /* Adjust size as needed */
  height: auto;
  display: inline-block;
  margin-top: 10px;
  transition: transform 0.3s;
}

.linktree-icon img:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .logo-dour {
    width: 100px;
  }

  .logo-techup {
    width: 50px;
  }

  .button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .charcter_res {
    max-width: 400px;
  }
}
